<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <!-- <bean id="dataSource" class="org.apache.cassandra.cql.jdbc.CassandraDataSource" > -->
    <!-- <bean id="dataSource" class="org.openspaces.persistency.cassandra.CassandraSpaceDataSourceFactoryBean"> -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/spring_database"/>
		<property name="username" value="root"/>
		<property name="password" value="mysqladmin"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <!-- <property name="validationQuery" value="SELECT 1"/> -->
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.example.springdatabasesample.entity.Employees</value>
				<value>com.example.springdatabasesample.entity.Departments</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!--
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>

				<prop key="hibernate.dialect">org.hibernate.dialect.Dialect</prop>
				 -->
				<!-- -->
				<prop key="hibernate.dialect">org.hibernate.ogm.dialect.cassandra.CassandraCQL2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.ogm.datastore.provider">org.hibernate.ogm.datastore.cassandra.impl.CassandraDatastoreProvider</prop> -->
				<prop key="hibernate.ogm.datastore.provider">org.hibernate.ogm.datastore.spi.DatastoreProvider</prop>
				<prop key="hibernate.ogm.datastore.host">localhost</prop>
				<prop key="hibernate.ogm.datastore.port">9042</prop>
				<prop key="hibernate.ogm.datastore.database">spring_database</prop>
				<prop key="hibernate.search.lucene_version">LUCENE_CURRENT</prop>
				<prop key="hibernate.ogm.cassandra.url">jdbc:cassandra://localhost:9160</prop>
				<prop key="hibernate.ogm.cassandra.default_keyspace">spring_database</prop>
				<prop key="hibernate.ogm.cassandra.autogenerate">update</prop>
				<!-- -->

			</props>
		</property>
	</bean>
    <bean class="com.example.springdatabasesample.dao.EmployeesDAOImpl" id="employeesDAO">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
	<bean class="com.example.springdatabasesample.dao.DepartmentsDAOImpl" id="departmentsDAO">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
	</bean>
</beans>
